@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* font-family: 'Reem Kufi', sans-serif; */
/* font-family: 'Spartan', sans-serif; */

body {
  font-family: "Reem Kufi", sans-serif;
  overflow-x: hidden;
  color: #ffc33b;
  background-color: #282f3b;
}

.navbar {
  background-color: #282f3b;
  color: #EFB83A;
}
.navbar .brand-navbar img:hover {
  opacity: 0.7;
}
.navbar ul {
  padding: 0px 30px 0px 0px;
}
.navbar ul li a {
  color: #EFB83A;
  margin: 10px 0px 0px 10px;
  text-transform: uppercase;
  font-size: 12px;
}
.navbar ul li a .fas {
  padding-right: 5px;
  padding-left: 5px;
}
.navbar ul li a:hover {
  color: #EFB83A;
}
.navbar ul li.active > a {
  color: #EFB83A;
  font-weight: bold;
  font-size: 12px;
  border-left: 3px solid #EFB83A;
}
.iconStyle {
  color: #EFB83A;
}


.hero {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.hero h1 {
  padding-top: 1em;
}

.box-with-text-stripped {
  background-image: -webkit-linear-gradient(#EFB83A 50%, white 50%);
  background-position: 0 0;
  -webkit-background-clip: text;
  background-size: 100% 15px;
  background-repeat: repeat;
  -webkit-animation: stripes 3s linear infinite;
  animation: stripes 3s linear infinite;
  -webkit-text-fill-color: transparent; }
.box-with-text-stripped {
 
  overflow: hidden;
  text-transform: uppercase;
  white-space: nowrap;
  }
  @-webkit-keyframes stripes {
  100% {
    background-position: 0 -50px; } }
@keyframes stripes {
  100% {
    background-position: 0 -50px; } }

@media (max-width: 480px) {
  .navbar-collapse.collapse:not(.show) {
    display: block;
  }
}

@media (min-width: 768px) {
  .navbar-collapse.collapse:not(.show) {
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
}
